body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: white;
}
.title-bar {
  width: 600px;
  background-color: #ffffff;
  width: 100%;
}
.title-bar h1 {
  display: flex;
  justify-content: center;
  margin-right: 350px;
}
.content {
  background-color: #eaeaea;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post {
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: white;
  margin: 20px;
}
.post p,
h2 {
  margin: 20px;
}
.post h2 {
  font-weight: bolder;
}
.post-img img {
  width: 100%;
  height: auto;
}
